*{
    margin: 0;
    color: white;
}

body{
    background-color: #3A4750;
}

nav{
    background-color: #303841;
    width: 15%;
    align-items: center;
    position: fixed;
    height: 100%;
}

a{
    text-decoration: none;
}

#navigationMenu{
    padding-top: 15px;
    padding-bottom: 15px;
}

#navigationMenu li{
    font-size: 22px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

/* #navigationMenu #activeMenuItem{
    background-color: #3A4750;
} */

hr{
    width: 75%;
    margin: auto;
}

#accountHeading{
    padding: 5px 30px;
}

.circular{
    border-radius: 50%;
}

td{
    margin: auto;
    padding: 10px 10px;
}

#accountDetails table{
    padding-top: 10px;
    padding-bottom: 10px;
}

#advertisement{
    padding: 0px 35px;
}

#suggestionsPane{
    width: 20%;
    padding: 20px;
    border-left: solid 1px #D9D9D9;
    float: right;
    display: inline-block;
    align-items: center;
}

input{
    background-color: inherit;
    padding: 5px;
    border: #D9D9D9 1px solid;
    border-radius: 10px;
}

#suggestionsPane div{
    padding-top: 15px;
    padding-bottom: 15px;
}

h3{
    font-weight: normal;
}

.follow{
    background-color: #303841;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
    width: 100px;
}

.following{
    background-color: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #00ADB5;
    width: 100px;
}

#companyHeader{
    padding: 30px auto;
}

#companyHeader img{
    border-radius: 50%;
}

#companyHeader h1{
    display: inline;
}